
  <head>

    <title>Olá, mundo!</title>
  </head>
  <body>
    <div class= "container">
      <h1>Bem vindo ao TicketForFun</h1>
      <h3>Alunos</h3>
      <li>Lincoln</li>
      <li>Patriky</li>
      <a href="/movies">
        <button type="button" class="btn btn-outline-dark btn-bg">
          <h3>Filmes</h3>
        </button>
      </a>
        
    </div>

  </body>
