
  <head>

    <title>Olá, mundo!</title>
  </head>
  <body>
    <div class= "container">
      <h1>Bem vindo ao TicketForFun</h1>
      <h3>Alunos</h3>
      <li>Lincoln</li>
      <li>Patriky</li>
      <button type="button" class="btn btn-outline-dark btn-bg">
        <h3><%= link_to "Filmes", controller: 'movies', action: 'index'%></h3>
      </button>
        
    </div>

  </body>
