<script src="/assets/salas"></script>
<%= render '/layouts/navbar' %>
<br>
<div class="container">
  <h2>Escolha o seu assento:</h2>
  <br>
  <div id="createSeating" class="createSeating"></div>
</div>

<!-- Fazer um botão para comprar (pagina de pagamento) gerando boleto, etc -->