<footer class="site-footer padd25">
  <div class="container navbar-brand">
    <nav class="navbar">
      <div class="row">
        <div class="footer-col">
          <ul>
            <h5>Ticket For Fun</h5>
            <li><%= link_to 'Fale Conosco', footer_faleconosco_path %></li>
            <li><%= link_to 'Perguntas Frequentes', footer_perguntas_path %></li>
            <li><%= link_to 'Termo de Uso', footer_termos_path %></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="footer-copyright" align="center">
    <%= link_to 'Ticket For Fun. Todos os direitos reservados.', root_path %>
  </div>
</footer>