<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="container">
		<br>
		<br>
		<div class="d-flex justify-content-center">
			<h2>
				Fazer login como: 
			</h2>
		</div>
		<br>
		<div class="d-flex justify-content-center">
			<button type="button" class="btn btn-primary btn-lg btn-block">
				Gerente
			</button>	
		</div>
		<br>
		<div class="d-flex justify-content-center">
			<button type="button" class="btn btn-primary btn-lg btn-block">
				Colaborador
			</button>			
		</div>
		<br>
		<div class="d-flex justify-content-center">
			<button type="button" class="btn btn-primary btn-lg btn-block">
				Usuário comum
			</button>		
		</div>
		<br>
		<br>
		<div class="d-flex justify-content-center">
	</div>
	<div class="container" align="center">
			<h2>
				Ou criar novo: 
			</h2>		
			
		</div>
		<div class= row>
			
		<div class="col">
			<div class="d-flex justify-content-center">
				<button type="button" class="btn btn-primary btn-lg btn-block">
					Colaborador
				</button>	
			</div>
		</div>
		<div class="col">
			<div class="d-flex justify-content-center">
				<button type="button" class="btn btn-primary btn-lg btn-block">
					Usuário comum
				</button>	
			</div>
		</div>

		</div>
	</div>

</body>
</html>