<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="container">
		<br>
		<a href="/users/new">
			<button type="button" class="btn btn-outline-success my-2 my-sm-0">
        		Cadastre-se
      		</button>
    	</a>
		<br>
		<br>
		<div class="d-flex justify-content-center">
			<h2>Fazer login como:</h2>
		</div>
		<br>
		<a href=""><!--Direcionar para preencher o form e entrar no sistema-->
			<div class="d-flex justify-content-center">
				<button type="button" class="btn btn-primary btn-lg btn-block">
					Gerente
				</button>	
			</div>
		</a>
		<br>
		<a href="">
			<div class="d-flex justify-content-center">
				<button type="button" class="btn btn-primary btn-lg btn-block">
					Colaborador
				</button>			
			</div>
		</a>
		<br>
		<a href="">
			<div class="d-flex justify-content-center">
				<button type="button" class="btn btn-primary btn-lg btn-block">
					Usuário comum
				</button>		
			</div>
		</a>
		<br>
		<br>
		
	</div>

</body>
</html>