<%= render '/layouts/navbar' %>
<div class="container">
    <br>
    <br>
    <h2>Seus Ingressos:</h2>
    <br>
    <h2>Hisórico de Compras:</h2>

    <%= link_to 'Voltar para filmes', movies_path %>
</div>