<%= render 'form', collaborator: @collaborator %>


<button type="button" class="btn btn-outline-dark btn-sm">
	<%= link_to 'Show', @collaborator %> |
	<%= link_to 'Back', collaborators_path %>

</button>


